.def-inp-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.def-inp-lbl {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  order: -1;
  font-size: 12px;
  line-height: 15px;
  color: $dark-grey;
  margin-bottom: 10px;
}

.def-inp {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  color: $black;
  &.is-valid, &.is-invalid {
    padding-right: 0.9375rem;
    background-image: none;
  }
  &[type='password'] {
    padding-right: 40px;
  }
  &::placeholder {
    opacity: 1;
    color: $grey;
  }
  &:focus + .def-inp-lbl {
    color: $primary-dark;
  }
  &.is-valid + .def-inp-lbl {
    color: $primary-dark;
  }
  &.is-invalid + .def-inp-lbl {
    color: $danger-text;
  }
  &.is-invalid + .def-inp-lbl + .def-inp-mes {
    display: block;
  }
}

textarea.form-control.def-inp {
  border-color: $light-grey;
  &:valid {
    border-color: $light-grey;
  }
  &:focus, &.is-valid {
    border-color: $primary-dark;
  }
  &.is-invalid {
    border-color: $danger-text;
  }
}

.def-inp-mes {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: $danger-text;
  margin-top: 5px;
}

.pass-type-toggle {
  position: absolute;
  top: 42px;
  right: 13px;
  width: 16px;
  height: 16px;
  background: url("../images/pass-vis-ic.svg") 0 0 no-repeat;
  cursor: pointer;
  transition: opacity 250ms ease;
  &.visible {
    background: url("../images/pass-invis-ic.svg") 0 0 no-repeat;
  }
  &:hover {
    opacity: 0.7;
  }
}

.def-date-inp {
  &.mx-datepicker {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    .mx-input {
      padding: 0.375rem 0.9375rem;
      padding-right: 30px;
      font-size: 16px;
      line-height: 1.5;
      color: $black;
      border-color: $light-grey;
      box-shadow: none;
      border-radius: 0;
      height: 50px;
      &::placeholder {
        font-size: 16px;
        opacity: 1;
        color: $grey;
      }
      &:focus {
        border-color: $primary-dark;
      }
    }
    .mx-icon-calendar, .mx-icon-clear {
      right: 13px;
    }
    &:focus-within + .def-inp-lbl {
      color: $primary-dark;
    }
    &:focus + .def-inp-lbl {
      color: $primary-dark;
    }
    &.is-valid + .def-inp-lbl {
      color: $primary-dark;
    }
    &.is-invalid + .def-inp-lbl {
      color: $danger-text;
    }
    &.is-invalid + .def-inp-lbl + .def-inp-mes {
      display: block;
    }
  }
}

.def-sel-wrap {
  .vs__open-indicator {
    transform: scale(0.7);
  }
  .vs--open .vs__open-indicator {
    transform: rotate(180deg) scale(0.7);
  }
  .vs__dropdown-toggle {
    padding: 0 0 4px;
    border: 1px solid $light-grey;
    border-radius: 0;
    height: 50px;
  }
  .vs--single.vs--open .vs__selected {
    margin-top: 12px;
  }
}






